/* --------------- Reset CSS --------------- */
*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Montserrat", 'Courier New', Courier, monospace;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ---------- Tailwind ---------- */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* --------- Scrollbar --------- */

/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B3B3B3;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}
